body {
  background-color: #fff2d8;
}
.colorbody1 {
  background-color: #fff2d8;
}

.colorbody2 {
  background-color: #445d48;
}

.colorbody3 {
  background-color: #D0E7D2;
}

.nav-wrapper {
  background-color: #fff2d8;
}

.navbutton {
  background-color: #fff2d8;
}
.navbutton:hover {
  color:white;
  background-color:#445d48;
}

.name-font {
  font-family: "Young Serif", serif;
  font-size: 500%;
}

.body-font1 {
  font-family: "Antic Slab", serif;
  font-size: 130%;
}

.body-font2 {
  font-family: "Antic Slab", serif;
  color: #fff2d8;
}

.parallax-container {
  height: 700px;
}
.page-footer {
  background-color: #113946;
  margin-bottom: 0%;
  margin-top: 0%;
}

.card-proj-text{
    
  font-family: "Young Serif", serif;
  font-weight: bold;

}

.colorfont3{
  color: #113946;
}
blockquote{
  border-color: #113946;
}

.icons{
  margin-left: 8%;
  margin-right: 8%;
  font-size: 600%;
}

.footer-text{
  font-size: 120%;
  font-family: 'Zen Maru Gothic', sans-serif;
}


.hover-button {
  background-color: #445d48;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: transform 0.5s; 
}

.hover-button:hover {
  background-color: #113946;
  color: #fff;
  transform: scale(1.1);
}